apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    certificate-authority-data: 
    server: ""
  name: "prueba"
contexts:
- context:
    cluster: "prueba"
    user: "kube-admin-prueba"
  name: "prueba"
current-context: "prueba"
users:
- name: "kube-admin-prueba"
  user:
    client-certificate-data: 
    client-key-data: 
